#search {
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #ecf0f1;
}

#search + .input-group-btn button {
    background-color: #ecf0f1;
}

.input-button {
    display: flex !important;
}

.input-group {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 5px;
}

.carousel {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    overflow: hidden;
}

.carousel-control {
    padding-top: 10%;
    width: 5%;
}

.carousel-inner .item .row {
    display: flex;
    align-items: center;
}

.genre-carousel .expand-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

html {
    padding-left: 5px;
    padding-right: 5px;
}


.movie-panel {
    position: relative;
}

.movie-panel-overlay {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0 15px;
}

.movie-panel-overlay h3 {
    margin: 15px 15px;
    font-size: 28px;
}

.movie-panel-overlay a {
    color: #ecf0f1;
}

.movie-panel-overlay a:hover {
    text-decoration: underline;
}

/* dirty, but w/e. selects the button container divs */
.movie-panel-overlay > div {
    position: absolute;
    bottom: 15px;
}

.movie-panel-overlay .save-button {
    position: absolute;
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ecf0f1;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}
