#search {
    border: solid;
    border-width: 2px;
    border-color: #ddd;
    border-radius: 4px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.input-button {
    display: flex !important;
}

.input-group {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 5px;
}

.carousel {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    overflow: hidden;
}

.carousel-control {
    padding-top: 10%;
    width: 5%;
}

html {
    padding-left: 5px;
    padding-right: 5px;
}
