/* My Movie Page (To update movies) */

/* For Movie Update Containers */

main h2 {
    margin-left: -15px;
}

.updateAttributes {
    margin-bottom: 20px;
    background-color: #ecf0f1;
    color: #34495e;
    border-radius: 6px;
    padding: 20px;
}

.updateAttributes .movie-attr {
    display:inline;
}

/* Title */
.updateAttributes .title {
    display: inline;
    padding-right: 10px;
    color: #34495e;
    font-size: 28px;
}

.updateAttributes .movie-attr form.featured,
.updateAttributes .movie-attr  form.delete {
    margin: -10px;
    display: inline;
    padding: 10px;
}

.updateAttributes .movie-attr form input.btn {
    width: 165px;
}

.row.actions {
    margin-top: 10px;
}

.row.actions > * {
    display: inline-block;
}

.details {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    border: none;
}

.details > tbody > tr > td {
    border: none;
    width: 150px;
    padding: 1px;
}

@media (max-width: 722px) {
    .details {
        display: none;
    }
}

