/* My Movie Page (To update movies) */

/* For Movie Update Containers */

.updateAttributes { 
    margin-bottom: 20px;
    background-color: #fff;
    color: #34495e;
    border-radius: 6px;
    padding: 20px;
}

.updateAttributes .movie-attr {
    display:inline;
}

/* Title */
.updateAttributes .movie-attr h4.title {
    display: inline;
    padding-right: 10px;
    color: #34495e;
}

.updateAttributes .movie-attr form.featured,
.updateAttributes .movie-attr  form.delete {
    margin: -10px;
    display: inline;
    padding: 10px;
}

.updateAttributes .movie-attr form input.btn {
    width: 165px;
}
