p {
    background-color: #F8F8F8;
    border: solid;
    border-color: #E7E7E7;
    border-width: 1px;
    border-radius: 2px;
    padding: 3px;
}

body, p {
    background-color: #34495e;
    color: #ecf0f1;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #ecf0f1;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}


main {
    margin-bottom: 20px;
}


/* Profile Fields */

.user-title {
    padding-bottom: 30px;
    border-bottom: 3px solid white;
}

ul.profile-traits {
    list-style: none;
    padding-left: 0;
}

ul.profile-traits > li {
    padding-bottom: 20px;
}

label {
    font-weight: 800;
    margin-bottom: 15px;
}

.profile-traits > li > label {
    margin-bottom: 0;
}

ul.profile-traits > li,
ul.profile-traits > li p {
    font-size: 22px;
    padding-left: 0;
}


/* Movie Panels */
label[for="featured-movie"] {
    margin-top: 4px;
    text-align: center;
    width: 100%;
}

#featured-movie {
    text-align: center;
}

#featured-movie.movie-panel,
#featured-movie.movie-panel img {
    padding: 0;
    max-height: 400px;
}

#featured-movie .movie-panel-overlay {
    margin: 0;
}

.movie-panel-overlay h3 {
    margin: 10px;
}

.carousel .movie-panel-overlay h3 {
    font-size: 16px;
}

.movie-panel,
.movie-panel img {
    max-height: 230px;
}

.movie-panel {
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
}
