
body {
    background-color: #34495e;
}

html {
    padding: 0 10px;
}

p, h1, h2, h3, h4 {
    color: #ecf0f1;
}

.ghetto-alert-container {
    position: fixed;
    width: calc(100% - 50px);
    top: 0;
    height: 100px;
}

.ghetto-alert {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    z-index: 100;
}

.ghetto-alert span {
    vertical-align: middle;
    line-height: 1.5;
    margin-left: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

/* My Movie Page (To update movies) */

/* For Movie Update Containers */

.updateAttributes { 
	margin-bottom: 20px;
	background-color: #fff;
	color: #34495e;
	border-radius: 6px;
	padding: 20px;
}

	.updateAttributes .movie-attr {
		display:inline;
	}
		/* Title */
		.updateAttributes .movie-attr h4.title {
			display: inline;
			padding-right: 10px;
			color: #34495e;
		}
		
		.updateAttributes .movie-attr form.featured,
		.updateAttributes .movie-attr  form.delete {
			margin: -10px;
			display: inline;
			padding: 10px;
		}
		
		.updateAttributes .movie-attr form input.btn {
			width: 165px;
		}
