<!DOCTYPE html>
<html lang="en">

<head>
    <% if (typeof pageTitle == 'undefined') { %>
        <% var pageTitle = ''; %>
    <% } %>
    <% include ../partials/head %>
    <link type="text/css" rel="stylesheet" href="/assets/css/index.css" />
</head>

<body class="container-fluid">
    <h1>Browse Movies</h1>
    <%- include('../partials/nav', { user: user }); %>
    <section class="container-fluid">
        <div class="input-group">
            <input type="text" name="search" id="search" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </section>

<% movies.forEach(function (genre) { %>
<%- include('../partials/genre-carousel', { user: user, genre: genre, watchOptions: watchOptions }); %>
<% }); %>

    <!-- TODO: Never ending scroll thing -->
<% include ../partials/scripts %>
</body>

</html>
