<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link type="text/css" ref="stylesheet" src="/assets/css/index.css" />
</head>

<body class="container-fluid">
    <h1>Browse Movies</h1>
    <% include ../partials/nav %>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </section>

<% movies.forEach(function (genre) { %>
<%   include ../partials/genre-carousel %>
<% }); %>

    <!-- TODO: Never ending scroll thing -->
<% include ../partials/scripts %>
</body>

</html>
