<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { pageTitle: "My Movies" }); %>
    <link type="text/css" rel="stylesheet" href="/assets/css/mymovies.css" />
</head>

<body class="container-fluid">
    <% include ../partials/nav %>
    <h2>My Movies</h2>
    <% movies.forEach(function(movie){ %>
        <% include ../partials/movie-attributes %>
    <% }) %>

    <% include ../partials/scripts %>
</body>

</html>
