<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link type="text/css" ref="stylesheet" src="/assets/css/profile.css" />
</head>

<body>
    <div class="container">
        <h1>Username's Profile</h1>
        <% include ../partials/nav %>
        <div class="row">
            <div class="col-md-12">
                <h2>Real name: Realname</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3>Profile</h3>
            </div>
            <div class="col-md-5">
                <h3>Featured Movie</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <h4>Ex-Machina</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>Some profile text.<br />Another line.<br />Another line.</p>
            </div>
            <img class="col-md-5" src="http://www.joblo.com/posters/images/full/ex-machina-poster.jpg" alt="Ex-Machina Cover">
        </div>
    </div>
    <% include ../partials/scripts %>
</body>

</html>
